body {
	background: #F1F1F1 0 0;
    color: #333333;
}
h1, h2, h3, h4, h5, h6 {
    color: #A68331;
}
a,
.template-browse-topics .submenu_title {
    color: #0060AA;
}
a:hover,
a:focus {
    color: #23527c;
    text-decoration: underline;
}
.searchResults .title a.state-published {
    color: #0060AA !important;
}
dl.searchResults dt.foreign,
dl.searchResults dd.foreign {
    background-color: inherit;
}
#container,
#navigation ul,
.login_links a,
body.template-homepage-view .box a.one-line,
body.template-homepage-view .box a.two-lines,
#kommentare_container .reply {
    background-color: #FFFFFF;
}
body.template-homepage-view .box a.one-line:hover,
body.template-homepage-view .box a.two-lines:hover {
    text-decoration: none;
}
#recensio_logo {
    margin-left: 20px;
}
#navigation ul#portal-globalnav {
    padding-left: 0;
}
#navigation li {
    text-transform: uppercase;
    border-right: none;
}
ul#portal-globalnav li:first-child {
    padding-left: 20px;
}
#navigation a,
#navigation a:visited {
    font-family: 'Ubuntu', Arial, 'Neue Helvetica', sans-serif;
    font-size: 125%;
    color: #0060AA;
}
#navigation ul#portal-globalnav,
#page_image {
    border-radius: 0;
}
.rounded_STYLE > .tr,
.rounded_STYLE > .tl,
.rounded_STYLE > .br,
.rounded_STYLE > .bl {
    background: none;
}
#footer p.logos {
    text-align: center;
}
.column_footer span {
    margin-left: 0;
}


.template-browse-topics .submenu-lvl2 {
   background-color: #F5F5F5;
}

body.template-homepage-view .portletTALPortlet p,
#footer {
	background: #F1F1F1 0 0;
}
body.template-homepage-view .portletTALPortlet p .redPortletHeader {
    color: #A68331;
}
input[type="text"]:focus,
input[type="password"]:focus,
#portal-searchbox input#searchGadget:focus,
textarea:focus {
    background-color: #FAFAFA;
}
body.template-homepage-view .box a.one-line h2:before,
body.template-homepage-view .box a.two-lines h2:before {
    color: #A68331;
}
body.template-homepage-view .portletTALPortlet p {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
